body {
  font-family: 'Inter';
}

.card-container {
  width: 60%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.nav-icons {
  font-size: 20px;
}

.input-div {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.url-input {
  width: 100%;
  padding: 0px 30px 0px 30px;
  border-radius: 20px;
  border: 1px solid grey;
}

.card-body {
  text-align: center;
}

.action-btn {
  background-color: var(--bs-body-color);
  color: white;
}

.action-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid var(--bs-body-color);
}

#time {
  font-size: 40px;
  font-weight: 800;
  color: red;
}

